#root {
	padding: 2rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.textbox-container {
	width: 100%;
	display: flex;
	align-items: center;
}

.textbox-container .textarea {
	padding: 0 2.5rem;
	width: 50%;
}

.button-container {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.button-container > button {
	min-width: 100px;
}

.progress-container {
	position: relative;
	font-size: 14px;
	color: white;
	background-color: #e9ecef;
	border: solid 1px;
	border-radius: 8px;
	text-align: left;
	overflow: hidden;
}

.progress-bar {
	padding: 0 4px;
	z-index: 0;
	top: 0;
	width: 1%;
	height: 100%;
	overflow: hidden;
	background-color: #007bff;
	white-space: nowrap;
	color: transparent;
}

.progress-text {
	text-align: center;
	padding: 0 1rem;
}

.progress-bars-container {
	padding: 8px;
	width: 80%;
}

.vertical-switch-button {
	display: none;
}

.switch-button:not([disabled]):hover {
	border-color: transparent;
}

.switch-button {
	&:disabled,
	&[data-disabled] {
		background-color: transparent;
	}
}

.text-error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 0 2.5rem;
}

.underline {
	text-decoration: underline;
}

@media (max-width: 768px) {
	.textbox-container {
		flex-direction: column;
		gap: 2rem;
	}

	.textbox-container .textarea {
		width: 100%;
	}

	.button-container {
		flex-direction: column;
		height: 15rem;
	}

	.horizontal-switch-button {
		display: none;
	}

	.vertical-switch-button {
		display: block;
	}
}
